ENVIRONMENT=development
DATABASE_NAME=azure-todo-app
DATABASE_URL=
KEY_VAULT_NAME=punchcodestudioskeyvault
KEY_VAULT_SECRET_NAME_DATABASE_URL=mongodbconnection-live
AZURE_TENANT_ID=690c0f1c-3e78-4ef2-a42c-3788fb78b3e2
AZURE_CLIENT_ID=3db4fbef-b54b-417a-8e0f-6dae7b0e411e
AZURE_CLIENT_SECRET=